/* main.css by 100451339 and 100451170*/
@charset "UTF-8";

/* Root constant */
:root {

    /* Colors */
    --bs-color-secondary-button-blue: rgba(146, 139, 218, 0.6);
    --bs-color-primary-nav-blue: rgba(230, 209, 255, .75);
    --bs-color-primary-sidebar: rgb(221, 209, 255);

    /* Fonts */
    --bs-font-roboto-default: Roboto, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Constant sizes */
    --navbar-height: 70px;
    --content-height-without-footer: 94vh;
    --footer-height: calc(100vh - var(--content-height-without-footer));
}


/* Body & general styles */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

h1 {
    margin: 0;
    color: rgba(0, 0, 0, 1);
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0, 1);
}

button {
    background-color: transparent;
}

figure {
    margin: 0;
}

p {
    margin: 0;
}

/* Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: var(--content-height-without-footer);
}

.column {
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr;
}




/* Navbar */
.menu-title {
    display: flex;
    align-items: center;
    background-color: var(--bs-color-primary-nav-blue);
}

.menu-title:hover .title-link {
    transition: transform 0.5s ease-in-out;
    transform: scale(0.95=8);
}

.navbar-links {
    display: flex;
    width: 100%;
    background-color: var(--bs-color-primary-nav-blue);
}

.navbar-links-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 2em;
}

.logo-container {
    margin: 0 2em;
}

.logo-container img {
    width: 40px;
}

.title-link {
    font-size: 1.3em;
    color: white;
    width: 100%;
}

.navbar-links {
    background-color:
        var(--bs-color-primary-nav-blue);
    display: flex;
    align-items: center;
}

.navbar-links-container {
    margin-left: auto;
    padding-right: 2em;
}

.sign-log-in-button {
    border: none;
    font-size: 1em;
}

.sign-in-button {
    margin-right: 1em;
}

.sign-log-in-button {
    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
    padding: .8rem;
    border-radius: 8px;
    background-color: var(--bs-color-secondary-button-blue);
}

.sign-log-in-button:hover {
    transform: scale(1.01);
    filter: brightness(1.2);
}


/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
    background-color: rgb(221, 209, 255);
}

.menu-options-container {
    display: grid;
    row-gap: 1em;
}

.menu-option-link-container {
    background-color: var(--bs-color-secondary-button-blue);
    margin: 0 1em;
    border-radius: 8px;
    padding: 0.3em 0.6em;
    color: white;
    display: flex;
    align-items: center;
    transition:filter 0.3s;
}

.menu-option-link-container:hover {
    transform: scale(1.01);
    filter: brightness(1.2);
}

.menu-option-icon-container {
    margin: 0.25em 2em;
    height: 25px;
}

.menu-option-icon-container img {
    width: 25px;
    height: 25px;
}

.bottom-link-container {
    padding: 0 0 2em 0;
    text-align: left;
    margin: 0 0 0 2em;
}

.bottom-link-icon-container {
    margin-right: 1em;
    height: 25px;
}

.bottom-link {
    display: flex;
    align-items: center;
}

.bottom-link:hover {
    text-decoration: underline;
    color:rgb(51, 51, 51)
}

.bottom-links-container {
    margin-bottom: 1em;
}


/* Content */
.content {
    height: calc(var(--content-height-without-footer) - var(--navbar-height));
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    opacity: 1;

    background:
        linear-gradient(
            270deg, rgba(0, 0, 0, 0.1)0%, rgba(23, 204, 68, 0.3) 100%), 
        linear-gradient(
            90deg, rgba(91, 219, 40, 0.8) 0%, rgba(122, 89, 245, 0.6) 100%),
        rgba(101, 101, 252, .7);

    background-blend-mode: multiply, screen, normal;
    z-index: 0;
}

.content-container {
    display: grid;
    row-gap: 2em;
    margin: 2em 2em 4em 2em;
}


/* Music container*/
.music-genre-container {
    z-index: 1;
}

.music-genre-songs-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 200px);
}

.music-genre-title {
    color: black;
    background: linear-gradient(
        90deg,
        rgb(128, 216, 255) 0%,
        rgb(140, 100, 252) 100%
    );
    width: auto;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.2em;
    font-weight: bold;
    padding-left: 26px;
    font-family: var(--bs-font-roboto-default);
}


/* Song container*/
.song-cover-container {
    position: relative;
    width: auto;
}

.song-cover {
    height: 150px;
    width: 150px;
}

.song-cover-container::before {
    content: "";
    background-image: url("../images/play.svg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    transition: opacity 0.5s;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    margin: 3.3em;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.song-cover-container:hover::before {
    opacity: 1;
}

.song-cover-container img {
    transition: transform 0.5s, filter 0.5s;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.song-description {
    transition: transform 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.song-description:hover {
    text-decoration: underline;
}

.song-author {
    transition: transform 0.3s;
    cursor: pointer;
    font-weight: lighter;
    font-size: 0.6em;
}

.song-author:hover {
    text-decoration: underline;
    transition: transform 0.3s;
}


.song-cover-container img:hover {
    transform: scale(1.1);
    filter: blur(0.5px);
    filter: brightness(.4);
}

.song-container {
    
    /* Glass Effect */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1.5em 1.5em 1.2em 1.5em;
    border-radius: 8px;
}

.song-container p {
    color: black;
    text-align: center
}

.song-container audio {
    width: 100%;
    margin: 0.7em 0;
    height: 40px;
}

audio::-webkit-media-controls-panel {
    background-color: var(--bs-color-primary-nav-blue);
}    

audio::-webkit-media-controls-play-button {
    background-color: var(--bs-color-secondary-button-blue);
    border-radius: 50%;
}


/* CTA */
.cta-container {
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color:rgba(163, 172, 255, 1);
}

.cta-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(
        180deg,
        rgb(0, 0, 0) 0%,
        rgb(43, 43, 43) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-text:hover {
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
}


/* media query for a max width of 768px */
@media (max-width: 768px) {
    /*Title*/
    .title-link {
        font-size: 0.9em;
    }
}


/* media query for a max width of 600px */
@media (max-width: 600px) {
    /*Title*/
    .title-link {
        font-size: 0.8em;
    }

    /*Music container*/
    .music-genre-title {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        text-align: center;
    }

    .music-genre-songs-container {
        justify-content: center;
    }

    .song-cover-container::before {
        content: "";
        background-image:  url("../images/play.svg");
        background-size: 40px 40px;
        background-repeat: no-repeat;
        transition: opacity 0.5s;
        z-index: 2;
        pointer-events: none;
        position: absolute;
        margin: 2em;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}