/* main.css by 100451339 and 100451170*/
@charset "UTF-8";

/* Root constant values */
:root {

    /* Colors */
    --bs-color-primary: #1e1e1e;
    --bs-color-secondary: #f2f2f2;
    --bs-color-tertiary: #f2f2f2;
    --bs-color-quaternary: #f2f2f2;
    --bs-color-quinary: #f2f2f2;
    --bs-color-senary: #f2f2f2;
    --bs-color-septenary: #f2f2f2;
    --bs-color-octonary: #f2f2f2;
    --bs-color-nonary: #f2f2f2;
    --bs-color-denary: #f2f2f2;
    --bs-color-primary-light: #f2f2f2;
    --bs-color-secondary-light: #f2f2f2;
    --bs-color-tertiary-light: #f2f2f2;
    --bs-color-quaternary-light: #f2f2f2;
    --bs-color-quinary-light: #f2f2f2;
    --bs-color-senary-light: #f2f2f2;
    --bs-color-septenary-light: #f2f2f2;
    --bs-color-octonary-light: #f2f2f2;
    --bs-color-nonary-light: #f2f2f2;
    --bs-color-denary-light: #f2f2f2;
    --bs-color-primary-dark: #f2f2f2;
    --bs-color-secondary-dark: #f2f2f2;
    --bs-color-tertiary-dark: #f2f2f2;
    --bs-color-quaternary-dark: #f2f2f2;
    --bs-color-quinary-dark: #f2f2f2;
    --bs-color-senary-dark: #f2f2f2;
    --bs-color-septenary-dark: #f2f2f2;
    --bs-color-octonary-dark: #f2f2f2;
    --bs-color-nonary-dark: #f2f2f2;
    --bs-color-denary-dark: #f2f2f2;

    /* Fonts */
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    --bs-font-times: Times New Roman, Times, Baskerville, Georgia, serif;
}

/* Body & general styles */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1 {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

figure {
    margin: 0;
}

p {
    margin: 0;
}

/* Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.music-genre-songs-container {
    display: flex;
    justify-content: space-between;
}

/* Navbar */
nav {
    width: 100vw;
    height: 10vh;
    background-color: #f1f1f1;
}

.menu-title {
    display: flex;
    align-items: center;
}

.logo-container {
    margin: 0 2em;
}

.title-link {
    width: 100%;
    border: 1px solid red;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 2em;
}

.sign-log-in-button {
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.sign-in-button {
    margin-right: 1em;
}


/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
    background-color: #f5f5f5;
}

.menu-option-link-container {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.menu-option-icon-container {
    margin: 0.25em 2em;
}

.bottom-link-container {
    border: 1px solid red;
}

.bottom-link-container {
    text-align: center;
}

/* Content */
.content {
    height: 82vh;
    overflow-y: scroll;
}

.content-container {
    display: grid;
    row-gap: 2em;
    margin: 2em 2em 4em 2em;
}

/* Songs */
.song-cover-container img {
    cursor: pointer;
    position: relative;
    transition: transform 0.5s, filter 0.5s;
    width: 80px;
    border-radius: 10px;
}

/* .song-cover-container img::before {
    content: "";
    font-size: 20px;
    color: white;
    width: 100px;
    background: url("../images/play.svg") no-repeat;
} */

.song-cover-container img:hover {
    transform: scale(1.2);
    filter: blur(0.7px);
}

/* .song-cover-container img:hover::after {
    opacity: 1;
} */

.song-container audio {
    width: 100%;
    margin: 0.7em 0;
    height: 30px;
    border: 1px solid red;
}

.song-container {
    font-family: var(--bs-font-sans-serif);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em 0.5em 1.5em;
    border: 1px solid red;
}

/* CTA */
.cta-container {
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #f9f9f9;
}

.cta-text {
    margin: 0;
}
