/* main.css by 100451339 and 100451170*/
@charset "UTF-8";

/************************
 * Normalization        *
 ************************/

/* Root constant */
:root {

    /* Colors */
    --bs-color-secondary-button-blue: rgba(146, 139, 218, 0.6);
    --bs-color-primary-nav-blue: rgba(230, 209, 255, .75);
    --bs-color-primary-sidebar: rgb(221, 209, 255);

    /* Fonts */
    --bs-font-roboto-default: Roboto, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Constant sizes */
    --navbar-height: 70px;
    --content-height-without-footer: 94vh;
    --footer-height: calc(100vh - var(--content-height-without-footer));
    --music-player-original-height: 0vh;
    --slider-height: 5px;

}


/* Body & general styles */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

h1 {
    margin: 0;
    color: rgba(0, 0, 0, 1);
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0, 1);
}

button {
    background-color: transparent;
}

figure {
    margin: 0;
}

p {
    margin: 0;
}

/************************
 * Homepage             *
 ************************/

/* Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: var(--content-height-without-footer);
}

.column {
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr;
}




/* Navbar */
.menu-title {
    display: flex;
    align-items: center;
    background-color: var(--bs-color-primary-nav-blue);
}

.menu-title:hover .title-link {
    transition: transform 0.5s ease-in-out;
    transform: scale(0.95=8);
}

.navbar-links {
    display: flex;
    width: 100%;
    background-color: var(--bs-color-primary-nav-blue);
}

.navbar-links-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 2em;
}

.logo-container {
    margin: 0 2em;
}

.logo-container img {
    width: 40px;
}

.title-link {
    font-size: 1.3em;
    color: white;
    width: 100%;
}

.navbar-links {
    background-color:
        var(--bs-color-primary-nav-blue);
    display: flex;
    align-items: center;
}

.navbar-links-container {
    margin-left: auto;
    padding-right: 2em;
}

.sign-log-in-button {
    border: none;
    font-size: 1em;
}

.sign-in-button {
    margin-right: 1em;
}

.sign-log-in-button {
    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
    padding: .8rem;
    border-radius: 8px;
    background-color: var(--bs-color-secondary-button-blue);
}

.sign-log-in-button:hover {
    transform: scale(1.01);
    filter: brightness(1.2);
}


/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
    background-color: rgb(221, 209, 255);
}

.menu-options-container {
    display: grid;
    row-gap: 1em;
}

.menu-option-link-container {
    background-color: var(--bs-color-secondary-button-blue);
    margin: 0 1em;
    border-radius: 8px;
    padding: 0.3em 0.6em;
    color: white;
    display: flex;
    align-items: center;
    transition:filter 0.3s;
}

.menu-option-link-container:hover {
    transform: scale(1.01);
    filter: brightness(1.2);
}

.menu-option-icon-container {
    margin: 0.25em 2em;
    height: 25px;
}

.menu-option-icon-container img {
    width: 25px;
    height: 25px;
}

.bottom-link-container {
    padding: 0 0 2em 0;
    text-align: left;
    margin: 0 0 0 2em;
}

.bottom-link-icon-container {
    margin-right: 1em;
    height: 25px;
}

.bottom-link {
    display: flex;
    align-items: center;
}

.bottom-link:hover {
    text-decoration: underline;
    color:rgb(51, 51, 51)
}

.bottom-links-container {
    margin-bottom: 1em;
}


/* Content */
.content {
    height: calc(var(--content-height-without-footer) - var(--navbar-height));
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    opacity: 1;

    background:
        linear-gradient(
            270deg, rgba(0, 0, 0, 0.1)0%, rgba(23, 204, 68, 0.3) 100%), 
        linear-gradient(
            90deg, rgba(91, 219, 40, 0.8) 0%, rgba(122, 89, 245, 0.6) 100%),
        rgba(101, 101, 252, .7);

    background-blend-mode: multiply, screen, normal;
    z-index: 0;
}

.content-container {
    display: grid;
    row-gap: 2em;
    margin: 2em 2em 4em 2em;
}


/* Music container*/
.music-genre-container {
    z-index: 1;
}

.music-genre-songs-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 200px);
}

.music-genre-title {
    color: black;
    background: linear-gradient(
        90deg,
        rgb(128, 216, 255) 0%,
        rgb(140, 100, 252) 100%
    );
    width: auto;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.2em;
    font-weight: bold;
    padding-left: 26px;
    font-family: var(--bs-font-roboto-default);
}


/* Song container*/
.song-cover-container {
    position: relative;
    width: auto;
}

.song-cover {
    height: 150px;
    width: 150px;
}

.song-cover-container img {
    transition: transform 0.5s, filter 0.5s;
    width: 100%;
    border-radius: 8px;
}

.song-description {
    margin: .5em 0 0 0;
    transition: transform 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.song-description:hover {
    text-decoration: underline;
}

.song-author {
    transition: transform 0.3s;
    cursor: pointer;
    font-weight: lighter;
    font-size: 0.6em;
}

.song-author:hover {
    text-decoration: underline;
    transition: transform 0.3s;
}

.song-cover-container {
    position: relative;
}

.song-cover-container:hover img {
    filter: blur(0.5px);
    filter: brightness(.4);
}

.song-container {
    
    /* Glass Effect */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1.5em 1.5em 1.2em 1.5em;
    border-radius: 8px;
}

.song-container p {
    color: black;
    text-align: center
}


/* ! Audio webkit personalization*/
audio::-webkit-media-controls-panel {
    background-color: var(--bs-color-primary-sidebar);
    width : 100%;
}    

audio::-webkit-media-controls-play-button {
    background-color: rgba(163, 172, 255, 1);
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(163, 172, 255, 0.8);
}

audio::-webkit-media-controls-mute-button {
    background-color: rgba(163, 172, 255, 0);
    border-radius: 50%;
}

audio::-webkit-media-controls-mute-button:hover {
    background-color: rgba(163, 172, 255, 1);
}

audio::-webkit-media-controls-volume-slider {
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

audio::-webkit-media-controls-volume-slider:hover {
    background-color: rgba(163, 172, 255, 1);
}

audio::-webkit-media-controls-current-time-display {
    font-weight: bolder;
}

audio::-webkit-media-controls-time-remaining-display {
    font-weight: bolder;
}

audio::-webkit-media-controls-timeline:hover {
    background-color: rgba(163, 172, 255, 1);
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}


/* CTA */
.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color:rgba(163, 172, 255, 1);
}

.cta-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(
        180deg,
        rgb(0, 0, 0) 0%,
        rgb(43, 43, 43) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-text:hover {
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
}


/* media query for a max width of 768px */
@media (max-width: 768px) {
    /*Title*/
    .title-link {
        font-size: 0.9em;
    }

    /*Music container*/
    .music-genre-title {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        text-align: center;
    }

    .music-genre-songs-container {
        justify-content: center;
    }
}


/* media query for a max width of 600px */
@media (max-width: 600px) {
    /*Title*/
    .title-link {
        font-size: 0.8em;
    }

    /*Music container*/
    .music-genre-title {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        text-align: center;
    }

    .music-genre-songs-container {
        justify-content: center;
    }
}

/************************
 * Login & Sign Up Page *
 ************************/

.login-navbar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: var(--navbar-height) 1fr;
}

.login-navbar .title-link{
    text-align: left;
    font-size: 1.7em;
}

.login-content{
    display: flex;
    width: 100%;
    height: calc(100% - var(--navbar-height));
    flex-direction: column;
    align-items: center;
}

.login-content .login-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    width: calc(30vw + 40px);
    max-width: calc(700px + 40px); 
    min-width: calc(300px + 40px);
    height: auto;
    /* Glass Effect */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.login-content .form-container {
    align-items: center;
    margin-bottom: 15px;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-content .login-title {
    padding: 1px 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.login-content input{
    text-align: center; 
}


/*! Seleccionando nombre de usuario, nombre, apellidos */
.login-content input[type=text] {
    width: 30vw;  /* Pasar todos los calcs a variables */
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(20px + 1.2em);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-content input[type=text]::placeholder {
    text-align: center; 
}


/*! Seleccionando email */
.login-content input[type=email] {
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(20px + 1.2em);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-content input[type=email]::placeholder {
    text-align: center;
}


/*! Seleccionando contraseña */
.login-content input[type=password] {
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(20px + 1.2em);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-content input[type=password]::placeholder {
    text-align: center;
}


/*! Seleccionando date */
.login-content input[type=date] {
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(20px + 1.2em);
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #858585;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-content input[type=date]::placeholder {
    text-align: center;
    align-items: center;
    margin: 0 -20px 0 0;
}
.login-content input[type="date"]:before{
    content: attr(placeholder);
    width: 180px;
}


/*! Seleccionando imagen de perfil */
.login-content .input-file {
    display:none;  
}

.login-content .select-image-button {
    cursor: pointer;
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(20px + 1.2em);
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #858585;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-content input[type=submit] {
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 10px;
    height:calc(20px + 1.2em);
    border: transparent;
    border-radius: 4px;
    color: white;
    font-size: .9em;
    font-weight: bold;
    background-color: var(--bs-color-secondary-button-blue);
}


/*! Borrar formulario */
.login-content input[type=reset] {
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(20px + 1.2em);
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-content input[type=reset]::placeholder {
    text-align: center;
}

.form-input input {
    outline: none;
}

/*! Checkbox */
.login-content .form-input-checkbox {
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    margin: 5px 5px;
    height: calc(10px + .6em);
    display: inline-block;
    /* border: 1px solid #ccc;*/
    background-color: rgba(0, 0, 0, 0.0); /*#ffffff*/
    color: balck;/*#858585;*/
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*! Botón de registro */
.login-content input[type=submit]:active {
    transform: scale(1.01);
    filter: brightness(1.1);
    transition: 0.2s;
}

.login-content .third-party-auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.third-party-auth img {
    cursor: pointer;
}

.facebook-auth, .google-auth {
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.facebook-auth:active, .google-auth:active {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: 0.2s;
}

.error-message-container {
    display: none;
    justify-content: center;
    width: 30vw;
    max-width: 700px;
    min-width: 300px;
    background-color: red;
    border-radius: 4px;
    padding: 10px 0 10px 0;
    margin: 5px 5px;
}

.error-message {
    display: block;
    font-size: 0.9em;
    color: white;
    text-align: center;
}

.form-checkbox {
    cursor: pointer;
}

.form-button {
    cursor: pointer;
    transition: transform 0.5s ease;
    transform: scale(1.0);
}

.form-button:hover {
    transform: scale(0.95);
    filter: brightness(1.1);
}


/* ! Estilos para el perfil del usuario*/

hr {
    border: 1px solid rgb(22, 22, 22);
    border-radius: 4px;
    width: 20vw;
}

.profile-content{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;

}

.profile-content .profile-container {
    align-items: center;
    margin-bottom: 15px;
}

.profile-content .profile-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    width: calc(50vw + 40px);
    max-width: calc(1000px + 40px); 
    min-width: calc(300px + 40px);
    height: auto;
    /* Glass Effect */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}


.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

h2.profile-name {
    text-align: center;
    font-size: 2em;
    margin: 3vh 0 2vh 0;
}

.profile-data .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 0 -10px 0;
}

.profile-data .profile-data-title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 25px 0 0px 0;
}

.profile-data .profile-data-info {
    font-size: 1.1em;
    margin: 10px 0 0px 0;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
}

.profile-data input {
    background: rgba(255, 255, 255, 0.1);
}

.profile-data .profile-data-info:focus {
    outline: none;
}

.profile-data .sign-log-in-button {
    color: rgb(255, 255, 255);
    padding: .8rem;
    border-radius: 8px;
    margin: 20px 0 0 0;
    background-color: var(--bs-color-secondary-button-blue);
    align-self: center;
    margin-top: 60px;
    cursor: pointer;
}


.profile-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-extra #profile-extra-title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 25px 0 0px 0;
}


/* ! Adding the images of the most played artists */
.profile-extra #profile-extra-artists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 40px 0 30px 0;
    width: 30vw;
    max-width: 700px;
    min-width: 100px;
    border-radius: 8px;
    gap: 30px;
    flex-wrap: wrap;
}

img.artist-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

img.artist-img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: 0.2s;
}

p.artist-name {
    font-size: 1em;
    margin: 10px 0 0px 0;
    text-align: center;
}

.profile-extra #profile-extra-songs {
    font-size: 1.3em;
    font-weight: bold;
    margin: 25px 0 0px 0;
}

.profile-extra #profile-extra-fav-songs {
    font-size: 1.3em;
    font-weight: bold;
    margin: 25px 0 0px 0;
}

.profile-extra #profile-extra-user-songs {
    font-size: 1.3em;
    font-weight: bold;
    margin: 25px 0 0px 0;
}

.profile-extra #profile-extra-followers {
    font-size: 1.3em;
    font-weight: bold;
    margin: 25px 0 0px 0;
}

.profile-extra #profile-extra-liked-songs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 25px 0 20px 0;
    width: 30vw;
    max-width: 700px;
    min-width: 120px;
    border-radius: 8px;
    gap: 30px;
    flex-wrap: wrap;
}

/* ! Modal container */
.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* mostrar imaghe de perfil del usuario */
.navbar-links-container {
    display: flex;
    position: relative;
}

.navbar-profile {
    display: flex;
    align-items: center;
}

.navbar-profile-image {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-profile-image:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: 0.2s;
}

.navbar-profile-options {
    max-height: 0px;
    transition: max-height 0.2s ease;
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: 0;
    color: black;
    background: rgb(221, 209, 255);
    width: 160px;
    z-index: 10;
    border-radius: 0 0 8px 8px;
}

.navbar-profile-option-link {
    width: 100%;
    cursor: pointer;
}

.navbar-profile-option-text {
    padding: 10px;
    width: 100%;
    transition: background 0.2s ease;
}

.navbar-profile-option-text:hover {
    background:rgb(236, 221, 255);
    transition: background 0.2s ease;
}

.searchbar-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 30px;
    position: relative;
}

.searchbar {
    outline: none;
    border: none;
    background-color: #c89dff;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

.searchbar-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(221, 209, 255);
    border-radius: 0 0 8px 8px;
    color: black;
    position: absolute;
    top: 60px;
    z-index: 10;
}

.searchbar-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
}

.searchbar::placeholder {
    color: white;
}

.searchbar-button {
    border: none;
    outline: none;
}

.searchbar-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.play-button {
    margin-left: 10px;
}

.like-button {
    margin-left: auto;
    margin-right: 10px;
}

/* ! Notificación modal de confirmación de cerrar sesión */
.logoutModal {
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}

.logoutModal .logoutModal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: -10px 0 30px 0;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    border-radius: 10px;
    width: 60%;
}

.logoutModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px 0 10px;
}

.logoutModal .close:hover,
.logoutModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.logoutModal .logoutModal-body {
    margin: 20px 0 30px 0;
}

.logoutModal .logoutModal-body p {
    font-family: Poppins, sans-serif;
    font-size: 0.8em;
    margin: -10px 0 0 0;
}

.logoutModal .logoutModal-footer {
    margin: 0 0 30px 0;
}

.logoutModal-footer button {
    font-family: Poppins, sans-serif;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    padding: .6rem 1rem .6rem 1rem;
    border-radius: 8px;
    background-color: rgb(87, 87, 87);
    border: none;
    cursor: pointer;
}

.logoutModal-footer button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: 0.2s;
}


/* ! Music player instead of tyhe cta-container in the footer */

/* When hover on album cover, show the play button */

.music-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--music-player-original-height);
    background-color:rgba(163, 172, 255, 1);
}

.song-cover-container a {
    position: absolute;
    display: block;
    cursor: pointer;
    background: url(../images/play.svg);
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;

    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.8s ease;
    margin: none;
}

.song-cover-container a:hover {
    display: block;
    opacity: 1;
    transition: 0.8s;
}

.song-cover-container img:hover + a {
    opacity: 1;
    transition: 0.8s;
}

/* Using flex with the column direction to align items in a vertical direction */
.music-player .player-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 6vh;
}
 

.music-player .details {
    width: 20vw;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    height: 6vh;
    top: 50%;
}
 
.music-player .track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL(
     "https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}
 
/* Changing the font sizes to suitable ones */

.music-player .track-name {
    left: 0;
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
    font-family: var(--bs-font-roboto-default);
    padding-bottom: 5px;
}
 
.music-player .track-artist {
    left: 0;
    text-align: left;
    font-size: .8em;
    font-family: var(--bs-font-roboto-default);
}


.music-player .track-buttons {
    position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 50vw;
}

/* Using flex with the row direction to align items in a horizontal direction */
.music-player .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -5px;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 0 10px 0 10px;
  opacity: 0.8;
 
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
 
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
/* Define the slider width so that it scales properly */
.music-player .slider_container {
  width: 100%;
  max-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* we place the volume slider on the right side of the player */
.music-player .slider_volume-container {
  width: 22vw;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
    margin-right: 0;
    height: 6vh;
    top: 50%;
}


/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--slider-height);
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
}
 
.current-time,
.total-duration {
  padding: 10px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
 
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}